body {
    background-color: #C0EEE4;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

hr {
    border-style: none;
    border-width: 50%;
    height: 3px;
    background-color: black;
}

table {
    padding: 15px;
    text-align: center;
    width: 100%;
    border-spacing: 7px;
    border-collapse: collapse;
    border: 3px solid white;
}

td {
    text-align: center;
}